body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#camera-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #ffffff;
  background: #0000aa;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
